<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title ng-bind="MLTitle">Money Lover Headquarter</title>
<meta name="description" content="{{ MLDescription | limitTo:500 }}">
<meta name="author" content="{{ MLAuthor }}">
<meta name="keyword" content="{{ MLKeyword }}">

<link rel="manifest" href="<%= urlStatic2 %>manifest.json">
<link rel="shortcut icon" href="<%= urlStatic2 %>favicon<%= (env == 'production')? '':'_dev' %>.png">

<link href="<%= urlStatic2 %>libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="<%= urlStatic2 %>libs/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="<%= urlStatic2 %>dist/css/app.css?v=1" rel="stylesheet">
<link href="<%= urlStatic2 %>libs/js/ng-prettyjson.min.css" rel="stylesheet" type="text/css">
<link href="<%= urlStatic2 %>css/flag-icon.css" rel="stylesheet">
<link href="<%= urlStatic2 %>css/colorpicker.min.css" rel="stylesheet">
<link href="<%= urlStatic2 %>css/viewer.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
<script src="/libs/bootstrap/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="/libs/bootstrap/js/html5shiv.js"></script>
<script src="/libs/bootstrap/js/respond.min.js"></script>
<![endif]-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.0.min.js"></script>
