<!DOCTYPE html>
<html lang="en" ng-app="ML">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Money Lover</title>
    <meta name="apple-itunes-app" content="app-id=486312413">

    <link rel="shortcut icon" href="<%= urlStatic %>img/favicon.png">

    <link href="<%= urlStatic %>lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= urlStatic %>lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="<%= urlStatic %>css/app.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/lib/bootstrap/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/lib/bootstrap/js/html5shiv.js"></script>
    <script src="/lib/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%= urlStatic %>lib/angular/angular.min.js"></script>
    <script src="<%= urlStatic %>js/reset_password_controller.js"></script>
    <script src="<%= urlStatic %>lib/angular/angular-route.min.js"></script>
</head>

<body>
    <div id="display-login">
        <div class="disable-background">
            <div id="user-action" ng-controller="resetPassword">
                <div class="user-title-page">
                    <h1>Reset password</h1>
                    <p ng-class="{'text-danger': submitError, 'text-success': submitSuccess}">{{message}}</p>
                </div>
                <div class="user-ResetPassword" ng-if="!submitSuccess">
                    <form class="login-box" name="resetPassword" autocomplete="off" ng-submit="submitForm(userInfo)">
                        <div class="form-group" ng-class="{'has-error': passwordError}">
                            <input type="password" class="form-control" placeholder="New password" ng-model="userInfo.password" name="password" required>
                            <p ng-if="passwordError" class="text-danger">{{passwordErrorMessage}}</p>
                        </div>
                        <div class="form-group" ng-class="{'has-error': retypePasswordError}">
                            <input type="password" class="form-control" placeholder="Retype password" ng-model="userInfo.repassword" name="repassword" required>
                            <p ng-if="retypePasswordError" class="text-danger">{{retypePasswordMessage}}</p>
                        </div>
                        <div class="form-group">
                            <button class="btn" type="submit">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', "518931264882008"]);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(["track", "PixelInitialized", {}]);
</script>
<noscript>
    <img height="1" width="1" border="0" alt="" style="display:none" src="https://www.facebook.com/tr?id=518931264882008&amp;ev=NoScript" />
</noscript>
</html>
