<!DOCTYPE html>
<html>
	<head>
		<title>Money Lover</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="<%= urlStatic %>lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="<%= urlStatic %>lib/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="<%= urlStatic %>css/app.css" rel="stylesheet">
	</head>
<body class="full-page">
	<form id="ml-share-wallet" class="login-box" method="POST">
		<h1>Money Lover</h1>
		<p>
			<% if(shareStatus === true){ %>
			Account <strong><%= email %></strong> has joined your shared wallet <strong><%= wallet %></strong>.
			<% } else if(shareStatus === false){ %>
			The invitation action is expired or invalid.
			<% } %>
		</p>
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="<%= urlStatic %>lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>